extends /views/base.pug

block prepend title
	- title = 'Callout'

mixin copyFields
	.form-group
		label(for='intro').control-label.col-md-2 Intro text
		.col-md-10
			textarea(name='templateSchema[intro]' required)#intro.form-control= poll.templateSchema.intro
	.form-group
		label(for='thanksTitle').control-label.col-md-2 Thank you title
		.col-md-10
			input(type='text' name='templateSchema[thanksTitle]' value=poll.templateSchema.thanksTitle required)#thanksTitle.form-control
	.form-group
		label(for='thanksText').control-label.col-md-2 Thank you text
		.col-md-10
			textarea(name='templateSchema[thanksText]' required)#thanksText.form-control= poll.templateSchema.thanksText
	.form-group
		label(for='thanksRedirect').control-label.col-md-2 Thank you redirect
		.col-md-10
			input(type='text' name='templateSchema[thanksRedirect]' value=poll.templateSchema.thanksRedirect)#thanksRedirect.form-control
			p.help-block If you fill this in then the user won't see the thank you text above

mixin candidateSchema(candidateNo, candidate)
	li.js-repeater-item
		.form-group
			label.control-label.col-md-2 Name
			.col-md-10
				input(type='text' name=`templateSchema[candidates][${candidateNo}][name]` value=candidate.name required).form-control
		.form-group
			label.control-label.col-md-2 Bio
			.col-md-10
				textarea(name=`templateSchema[candidates][${candidateNo}][bio]` required).form-control= candidate.bio
		p.text-right
			button(type='button').btn.btn-sm.btn-danger.js-repeater-remove-item Remove

block append css
	if poll.template === 'builder'
		link(rel='stylesheet' href='/static/css/lib/formio.full.min.css')
		style.
			.formcomponents { position: sticky; top: 1rem }
			#builder { margin-bottom: 2rem; }

block prepend js
	if poll.template === 'ballot'
		script(type='text/template').js-repeater-template
			+candidateSchema(0, {})

block append js
	if poll.template === 'builder'
		script(src='/static/js/lib/formio.full.min.js')
		script.
			Formio.builder(
				document.getElementById('builder'),
				!{JSON.stringify(poll.templateSchema.formSchema || {})},
				{template: 'bootstrap3'}
			).then(function (builder) {
				builder.on('change', function() {
					$('.js-poll-form-schema').val(JSON.stringify(builder.schema));
				});
			});

block contents
	.row
		.col-md-12
			+page_header('Callout: ' + poll.title)

			dl.dl-horizontal
				dt Status
				dd
					+itemStatus(poll)
					include partials/poll-tags
				dt Created
				dd= moment(poll.date).format('DD/MM/YYYY [at] HH:mm')
				dt Update answers?
				dd= poll.allowUpdate ? 'Yes' : 'No'
				dt URL
				dd
					a(href='/polls/' + poll.slug)= '/polls/' + poll.slug
					|
					|
					if !poll.active
						a(href='/polls/' + poll.slug + '?preview=1').btn.btn-xs.btn-default Preview
				dt Responses
				dd
					= responsesCount
					|
					|
					a(href='/tools/polls/' + poll.slug + '/responses').btn.btn-xs.btn-default See responses
					|
					|
					form(method='POST' style='display: inline')
						+csrf
						button(name='action' value='export-responses').btn.btn-xs.btn-warning Export

			hr

	.row
		.col-md-8
			h4 Update callout
			include partials/poll-form

	.row
		.col-md-12
			hr

			h4 Edit form

			if poll.template === 'builder'
				#builder

				form(method='POST').form-horizontal
					+csrf

					h5 Copy
					+copyFields

					input(type='hidden' name='formSchema' value=JSON.stringify(poll.templateSchema.formSchema || {})).js-poll-form-schema
					button(name='action' value='edit-form').btn.btn-primary Save

			else if poll.template === 'ballot'
				form(method='POST').form-horizontal
					+csrf

					h5 Copy
					+copyFields

					h5 Settings

					.form-group
						label.control-label.col-md-2 Key ballot info
						.col-md-10
							textarea(name='templateSchema[ballotInfo]').form-control= poll.templateSchema.ballotInfo
					.form-group
						label.control-label.col-md-2 Min votes
						.col-md-2
							input(type='number' name='templateSchema[minVotes]' value=poll.templateSchema.minVotes).form-control
					.form-group
						label.control-label.col-md-2 Max votes
						.col-md-2
							input(type='number' name='templateSchema[maxVotes]' value=poll.templateSchema.maxVotes).form-control

					h5 Candidates

					ul(data-name='templateSchema[candidates]').repeater.js-repeater
						if poll.templateSchema.candidates
							each candidate, candidateNo in poll.templateSchema.candidates
								+candidateSchema(candidateNo, candidate)
					p: button(type='button').btn.btn-default.js-repeater-add-item Add candidate

					p: button(name='action' value='edit-form').btn.btn-primary Save

			else
				.row
					.col-md-8
						.alert.alert-warning This callout's form cannot be edited

			hr

	.row
		.col-md-8

			h4 Replicate callout

			form(method='POST').form-horizontal
				+csrf
				.form-group
					label(for='title').control-label.col-md-3 New title
					.col-md-9
						input(type='text' name='title' required)#title.form-control
				.form-group
					label(for='slug').control-label.col-md-3 New slug
					.col-md-9
						input(type='text' name='slug' required)#slug.form-control
				button(name='action' value='replicate').btn.btn-primary Replicate

			hr

			h4 Clear responses

			p.
				Clear all the responses to this poll, you will not be able to recover
				the responses.

			form(method='POST')
				+csrf
				p
					label.checkbox-inline
						input(type='checkbox' required)
						| This change is irreversible, confirm to proceed
				button(name='action' value='delete-responses').btn.btn-danger Clear

			hr

			h4 Delete callout

			form(method='POST')
				+csrf
				p
					label.checkbox-inline
						input(type='checkbox' required)
						| This change is irreversible, confirm to proceed
				button(name='action' value='delete').btn.btn-danger.outline Delete
