extends /views/base.pug

block prepend title
	- title = 'Notice'

block contents
	.row
		.col-md-12
			+page_header(notice.name)

			p.
				Created #{moment(notice.date).format('DD/MM/YYYY [at] HH:mm')}

			if notice.active
				.alert.alert-success This notice is currently active
			else if !notice.enabled
				.alert.alert-warning This notice is disabled
			else if notice.expires
				.alert.alert-warning This notice has expired

	.row
		.col-md-8
			hr

			h4 Update notice

			form(method='POST').form-horizontal
				input(type='hidden' name='action' value='update')
				+csrf
				.form-group
					label(for='name').control-label.col-md-3 Name
					.col-md-6
						input(type='text' name='name' value=notice.name required)#name.form-control
				.form-group
					label(for='expires').control-label.col-md-3 Expires (UTC)
					.col-md-3
						input(type='date', name='expiresDate' value=moment.utc(notice.expires).format('YYYY-MM-DD'))#expires.form-control
					.col-md-3
						input(type='time', name='expiresTime' value=moment.utc(notice.expires).format('HH:mm')).form-control
				.form-group
					label(for='text').control-label.col-md-3 Text
					.col-md-9
						input(type='text' name='text' value=notice.text required)#text.form-control
				.form-group
					label(for='buttonText').control-label.col-md-3 Button text
					.col-md-9
						input(type='text' name='buttonText' value=notice.buttonText required)#buttonText.form-control
				.form-group
					label(for='url').control-label.col-md-3 URL
					.col-md-9
						input(type='text' name='url' value=notice.url)#url.form-control
				.form-group
					.col-md-offset-3.col-md-9
						.checkbox-inline
							input(type='checkbox' name='enabled' value='true' checked=notice.enabled)
							| Enabled

				p.col-md-offset-3
					button.btn.btn-primary Update

			hr

			h4 Delete notice

			form(method='POST')
				+csrf
				input(type='hidden', name='action', value='delete')
				p
					label.checkbox-inline
						input(type='checkbox' required)
						| This change is irreversible, confirm to proceed
				button.btn.btn-danger.outline Delete
