- isNew = poll === undefined
- poll = poll || {}

form(method='POST').form-horizontal
	+csrf
	.form-group
		label(for='title').control-label.col-md-3 Title
		.col-md-9
			input(type='text' name='title' value=poll.title required)#title.form-control
	.form-group
		label(for='slug').control-label.col-md-3 Slug
		.col-md-9
			input(type='text' name='slug' value=poll.slug required readonly=!isNew)#slug.form-control
	.form-group
		label(for='excerpt').control-label.col-md-3 Excerpt
		.col-md-9
			textarea(name='excerpt' required maxlength="130")#excerpt.form-control= poll.excerpt
	.form-group
		label(for='image').control-label.col-md-3 Image
		.col-md-9
			input(type='text' name='image' value=poll.image required)#image.form-control

	if isNew
		.form-group
			label(for='template').control-label.col-md-3 Template
			.col-md-9
				select(name='template' required)#template.form-control
					option(value='' disabled selected) Select template
					option(value='builder') Form builder
					option(value='ballot') Ballot
	else
		input(type='hidden' name='template' value=poll.template)
	if !isNew
		.form-group
			label(for='mergeField').control-label.col-md-3 MailChimp merge field
			.col-md-9
				input(type='text' name='mcMergeField' maxlength='10' value=poll.mcMergeField)#mergeField.form-control
		.form-group
			label(for='pollMergeField').control-label.col-md-3 Poll merge field
			.col-md-9
				input(type='text' name='pollMergeField' value=poll.pollMergeField)#pollMergeField.form-control
	.form-group
		label(for='starts').control-label.col-md-3 Starts (UTC)
		.col-md-3
			input(type='date', name='startsDate' value=poll.starts ? moment.utc(poll.starts).format('YYYY-MM-DD') : '')#starts.form-control
		.col-md-3
			input(type='time', name='startsTime' value=poll.starts ? moment.utc(poll.starts).format('HH:mm') : '').form-control
	.form-group
		label(for='expires').control-label.col-md-3 Expires (UTC)
		.col-md-3
			input(type='date', name='expiresDate' value=poll.expires ? moment.utc(poll.expires).format('YYYY-MM-DD') : '')#expires.form-control
		.col-md-3
			input(type='time', name='expiresTime' value=poll.expires ? moment.utc(poll.expires).format('HH:mm') : '').form-control
	.form-group
		label.control-label.col-md-3 Access
		.col-md-9
			.radio-inline
				label
					input(type='radio' name='access' value='member' required checked=isNew || poll.access === 'member')
					| Member only
			.radio-inline
				label
					input(type='radio' name='access' value='guest' required checked=poll.access === 'guest')
					| Allow guests
			.radio-inline
				label
					input(type='radio' name='access' value='anonymous' required checked=poll.access === 'anonymous')
					| Allow anonymous
			.radio-inline
				label
					input(type='radio' name='access' value='only-anonymous' required checked=poll.access === 'only-anonymous')
					| Only anonymous

	.js-reveal
		.form-group
			.col-md-offset-3.col-md-9
				label.checkbox-inline
					input(type='checkbox' name='allowMultiple' value='true' checked=poll.allowMultiple).js-reveal-types
					| Allow users to submit multiple responses

		.form-group.js-reveal-type(data-type='allowMultiple' data-inverse)
			.col-md-offset-3.col-md-9
				label.checkbox-inline
					input(type='checkbox' name='allowUpdate' value='true' checked=poll.allowUpdate)
					| Allow users to update their answers

		if isNew
			input(type='hidden' name='closed' value='true')
		else
			.form-group
				.col-md-offset-3.col-md-9
					label.checkbox-inline
						input(type='checkbox' name='closed' value='true' checked=poll.closed)
						| Closed

	.form-group
		.col-md-offset-3.col-md-9
			label.checkbox-inline
				input(type='checkbox' name='hidden' value='true' checked=poll.hidden)
				| Hide callout
			p.help-block Tick this to hide the callout from the callouts page

	.form-group
		.col-md-offset-3.col-md-9
			button(name='action' value='update').btn.btn-success= isNew ? 'Create' : 'Update'

