include mixins.pug
doctype html
html
	head
		meta( charset="utf-8" )
		meta( name="viewport", content="initial-scale=1.0, width=device-width" )

		link( rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png" )
		link( rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png" )
		link( rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png" )
		link( rel="manifest", href="/site.webmanifest" )
		link( rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5" )
		meta( name="msapplication-TileColor", content="#da532c" )
		meta( name="theme-color", content="#ffffff" )

		block meta
			include partials/share-meta.pug

		block title
			if title
				title #{ title } &mdash; #{ Options( 'software-name' ) } &mdash; #{ Options( 'organisation' ) }
			else
				title #{ Options( 'software-name' ) } &mdash; #{ Options( 'organisation' ) }
		block head
			block css
				link( rel="stylesheet", href="/static/css/theme.css?v=" + git )
				link( rel="stylesheet", href="/static/css/style.css?v=" + git )
	body( class=( dev ? 'dev' : '' ) + ' ' + (isEmbed ? 'is-embed' : '') )
		script.
			document.body.className += ' has-js';

		.wrapper
			if !isEmbed
				block header
					header.header
						.container
							.row
								.col-xs-6
									a( href=Options( 'home-link-url' ) )
										img( src=Options('logo') ).header-logo
								.col-xs-6.text-right
									block login
										if isLoggedIn
											a( href="/logout" ) Logout
										else
											a( href="/login" ) Login


			main.main
				block body
					.container
						if !isEmbed
							block navbar
								include partials/navbar.pug
							block flashes
								include partials/flash.pug
							block heading
								if heading
									+page_header( heading )
						block contents

			if !isEmbed
				footer.footer.small
					.container
						.row
							.col-sm-6
								p
									= Options( 'organisation' )
									br
									= Options( 'footer-strapline' )
							.col-sm-6
								ul.footer-links
									li
										a( href=Options( 'footer-privacy-link-url' ) )= Options( 'footer-privacy-link-text' )
									li
										a( href=Options( 'footer-terms-link-url' ) )= Options( 'footer-terms-link-text' )
									if Options( 'footer-facebook-link-url' )
										li
											a( href=Options( 'footer-facebook-link-url' ) ) Facebook
									if Options( 'footer-twitter-link-url' )
										li
											a( href=Options( 'footer-twitter-link-url' ) ) Twitter

						.row
							.col-sm-12
								a( href="https://github.com/beabee-communityrm/beabee", target="_blank" ) Contribute on GitHub
								|
								|
								span.text-muted (#{ git })

		block js
			if isEmbed
				script( src="/static/js/lib/iframeResizer.contentWindow-4.3.1.min.js")
			script( src="/static/js/lib/jquery.js" )
			script( src="/static/js/lib/bootstrap.js" )
			script( src="/static/js/script.js?v=" + git )

		block tracking
			script( src="/membership.js" )
			if Options('tracking-code')
				!= Options('tracking-code')
