mixin csrf
	input( type="hidden", name="_csrf", value=csrf )

mixin messageBlock( status, text )
	p( style="padding: 1em; margin-top: 1em;" class="bg-" + status )=text

mixin input( type, label, name, opts )
	unless opts
		- opts = {}
	unless opts.id
		- opts.id = name
	.form-group
		label( for=opts.id, class=( opts.left ? 'col-md-' + opts.left : 'col-md-2' ) ).control-label #{ label }
		div( class=( opts.right ? 'col-md-' + opts.right : 'col-md-3' ) )
			div( class=( opts.before || opts.after ? 'input-group' : null ) )
				if opts.before
					.input-group-addon=opts.before
				case type
					when 'password'
					when 'text'
					default
						input( name=name, type=type, value=opts.value, required=opts.required id=opts.id, readonly=opts.readonly, class=opts.class, minlength=opts.minlength, maxlength=opts.maxlength, placeholder=opts.placeholder, autocomplete=opts.autocomplete ).form-control
						- break
					when 'textarea'
						textarea( name=name, required=opts.required, id=opts.id, readonly=opts.readonly, rows=( opts.rows ? opts.rows : 4 ), class=opts.class, placeholder=opts.placeholder ).form-control #{ opts.value }
					when 'checkbox'
					when 'radio'
						- i = 0
						for text, value in opts.options
							- i++
							div( class=type )
								label( for=opts.id + "_" + i )
									input( name=name, type=type, value=value, required=opts.required, checked=( opts.value === true || value == opts.value ), id=opts.id + "_" + i )
									|  #{ text }
						- break
				if opts.after
					.input-group-addon=opts.after
			if opts.helpblock
				span.help-block #{ opts.helpblock }

mixin form_button( label, colour, opts )
	unless opts
		- opts = {}
	.form-group
		div( class=( opts.right ? 'col-md-' + opts.right : 'col-md-3' ), class=( opts.left ? 'col-md-offset-' + opts.left : 'col-md-offset-2' ) )
			button.btn( class="btn-" + ( colour ? colour : 'default' ) )=label

mixin page_header( title, opts )
	if ! opts
		- opts = {}
	if ! opts.level
		- opts.level = 'h3'
	.page-header
		if opts.strong
			#{ opts.level }
				strong #{ title }
				if opts.small
					small  #{ opts.small }
		else
			#{ opts.level } #{ title }
				if opts.small
					small  #{ opts.small }

mixin passwordRequirementsCSS
	link( rel="stylesheet", href="/static/css/password-requirements.css" )

mixin passwordRequirementsJS
	script( src="/static/js/password-requirements.js" )

mixin flash( status, text, opts )
	.alert( class='alert-' + status)=text
		if ( opts && opts.text && opts.url && opts.type )
			a( href=opts.url, style="margin-top:-.3em;margin-right:-.3em", class="btn-" + opts.type ).btn.btn-sm.pull-right=opts.text

mixin email( address, text=anull )
	a( href='mailto:' + address )= text || address

mixin emailSupport(text=null)
	+email(Options('support-email'), text)

mixin paramsInputs(params, namePrefix='params')
	each param in params
		- name = namePrefix + '[' + param.name + ']'
		.form-group
			label.col-md-3.control-label= param.label
			.col-md-6
				if param.type === 'select'
					select(name=name required disabled).form-control
						each value in param.values
							option(value=value[0])= value[1]
				else if param.type === 'boolean'
					.checkbox
						label
							input(type='checkbox' name=name value='true')
							| Yes
				else
					input(type=param.type name=name required disabled).form-control

mixin membersTableBasicInfo(member)
	span.members-table-action
		a(href='/members/' + member.id).btn.btn-xs.btn-default
			span(
				style='color: ' + (member.membership && member.membership.isActive ? 'green' : 'red')
				title=member.membership && member.membership.isActive ? 'Active' : 'Expired'
			).glyphicon.glyphicon-user
	span.members-table-row-main
		div.members-table-row-info
			if member.fullname
				span(style='flex: 0 1 250px')= member.fullname
			span= member.email
		small= member.profile.description
	span
		each tag in member.profile.tags
			if !search || tag !== search.tag
				|
				|
				a(href='/members/?type=basic&tag=' + encodeURIComponent(tag)).label.label-info.members-table-action= tag

mixin paymentStatus(payment)
	case payment.status
		when 'pending_submission'
			span.label.label-default( title=payment.status ) Scheduled
		when 'submitted'
			span.label.label-info( title=payment.status ) Processing
		when 'confirmed'
		when 'paid_out'
			span.label.label-primary( title=payment.status ) Collected
		when 'cancelled'
			span.label.label-danger( title=payment.status ) Cancelled
		when 'pending_customer_approval'
			span.label.label-danger( title=payment.status ) Approval needed
		when 'customer_approval_denied'
			span.label.label-danger( title=payment.status ) Approval denied
		when 'failed'
			span.label.label-danger( title=payment.status ) Failed
		when 'charged_back'
			span.label.label-danger( title=payment.status ) Charged back
		default
			span.label.label-default( title=payment.status ) #{ payment.status }

mixin itemStatus(item)
	if item.active
		span.label.label-success Active
	else if item.closed
		span.label.label-danger Closed
	else if item.expires && moment().isAfter(item.expires)
		span.label.label-warning Expired
	else if item.starts
		span.label.label-info Scheduled
