extends /views/base.pug

block prepend title
  - title = app.title

block prepend js
  script(src='/static/js/lib/quill.min.js')

block append css
  link(rel='stylesheet' href='/static/css/lib/quill.snow.css')

mixin periodSchema(i, period)
    .form-group
      label.control-label.col-md-3 Preset amounts (#{period.name})
      .col-md-9
        input(type="hidden" name="data[periods][" + i + "][name]" value=period.name)
        input(type='text' name="data[periods][" + i + "][presetAmounts]" value=period.presetAmounts.join(', ') required).form-control


block contents
  .row
    .col-md-12
      +page_header('Content')

  .row
    .col-md-8
      form(method='POST').form-horizontal
        +csrf

        .form-group
          label.control-label.col-md-3 Organisation name
          .col-md-9
            input(type='text' name='options[organisation]' value=Options('organisation') required).form-control
        .form-group
          label.control-label.col-md-3 Privacy URL
          .col-md-9
            input(type='text' name='options[footer-privacy-link-url]' value=Options('footer-privacy-link-url') required).form-control
        .form-group
          label.control-label.col-md-3 Terms URL
          .col-md-9
            input(type='text' name='options[footer-terms-link-url]' value=Options('footer-terms-link-url')).form-control
        .form-group
          label.control-label.col-md-3 Support email
          .col-md-9
            input(type='text' name='options[support-email]' value=Options('support-email')).form-control
        .form-group
          label.control-label.col-md-3 Support email from
          .col-md-9
            input(type='text' name='options[support-email-from]' value=Options('support-email-from')).form-control

        .row: .col-md-offset-3.col-md-9: p: button.btn.btn-primary Save

      hr

      h4 Join page

      form(method='POST').form-horizontal
        +csrf

        .form-group
          label.control-label.col-md-3 Title
          .col-md-9
            input(type='text' name="data[title]" value=join.title required).form-control
        .form-group
          label.control-label.col-md-3 Subtitle
          .col-md-9
            input(type='text' name="data[subtitle]" value=join.subtitle required).form-control
        
        +periodSchema(0, join.periods ? join.periods[0] : {'name': 'monthly', presetAmounts: []})
        +periodSchema(1, join.periods ? join.periods[1] : {'name': 'annually', presetAmounts: []})
          
        .form-group.hidden
          .col-md-offset-3.col-md-9
            .checkbox
              label
                input(type='checkbox' name="data[showNoContribution]" value="true" checked=join.showNoContribution)
                | Show no contribution option

        .form-group
          label.control-label.col-md-3 Initial amount
          .col-md-9
            input(type='number' name="data[initialAmount]" value=join.initialAmount required).form-control
        .form-group
          label.control-label.col-md-3 Initial period
          .col-md-9
            select(name="data[initialPeriod]" required).form-control
              option(value='' selected disabled)
              option(value='monthly' selected=join.initialPeriod === 'monthly') Monthly
              option(value='annually' selected=join.initialPeriod === 'annually') Annually

        .form-group
          label.control-label.col-md-3 Min monthly amount
          .col-md-9
            input(type='number' name="options[contribution-min-monthly-amount]" value=Options('contribution-min-monthly-amount') required).form-control

        .form-group
          .col-md-offset-3.col-md-9
            .checkbox
              label
                input(type='hidden' name="options[show-absorb-fee]" value="false")
                input(type='checkbox' name="options[show-absorb-fee]" value="true" checked=Options.bool('show-absorb-fee'))
                | Show absorb fee

        .row: .col-md-offset-3.col-md-9: p: button(name='id' value='join').btn.btn-primary Save

      hr

      h4 Join page - setup

      form(method='POST').form-horizontal
        +csrf

        .form-group
          label.control-label.col-md-3 Welcome
          .col-md-9
            input(type='text' name="data[welcome]" value=joinSetup.welcome required).form-control

        .js-reveal
          .form-group
            .col-md-offset-3.col-md-9
              .checkbox
                label
                  input(type='hidden' name="options[show-mail-opt-in]" value="false")
                  input(type='checkbox' name="options[show-mail-opt-in]" value="true" checked=Options.bool('show-mail-opt-in')).js-reveal-types
                  | Show mail opt-in
          .js-reveal-type(data-type="options[show-mail-opt-in]").hidden
            .form-group
              label.control-label.col-md-3 Mail title
              .col-md-9
                input(type='text' name="data[mailTitle]" value=joinSetup.mailTitle required).form-control
            .form-group
              label.control-label.col-md-3 Mail text
              .col-md-9
                input(type='text' name="data[mailText]" value=joinSetup.mailText required).form-control
            .form-group
              label.control-label.col-md-3 Mail opt-in
              .col-md-9
                input(type='text' name="data[mailOptIn]" value=joinSetup.mailOptIn required).form-control

        .js-reveal
          .form-group
            .col-md-offset-3.col-md-9
              .checkbox
                label
                  input(type='checkbox' name="data[showNewsletterOptIn]" value="true" checked=joinSetup.showNewsletterOptIn).js-reveal-types
                  | Show newsletter opt-in
          .js-reveal-type(data-type="data[showNewsletterOptIn]")
            .form-group
              label.control-label.col-md-3 Newsletter title
              .col-md-9
                input(type='text' name="data[newsletterTitle]" value=joinSetup.newsletterTitle required).form-control
            .form-group
              label.control-label.col-md-3 Newsletter text
              .col-md-9
                input(type='text' name="data[newsletterText]" value=joinSetup.newsletterText required).form-control
            .form-group
              label.control-label.col-md-3 Newsletter opt-in
              .col-md-9
                input(type='text' name="data[newsletterOptIn]" value=joinSetup.newsletterOptIn required).form-control

        .row: .col-md-offset-3.col-md-9: p: button(name='id' value='join/setup').btn.btn-primary Save

      hr

      h4 Profile page
      form(method='POST').form-horizontal
        +csrf

        .form-group
          label.control-label.col-md-3 Welcome text
          .col-md-9
            input(type='text' name="data[welcomeMessage]" value=profile.welcomeMessage required).form-control
        .form-group
          label.control-label.col-md-3 Footer text
          .col-md-9
            input(type='text' name="data[footerMessage]" value=profile.footerMessage required).form-control

        .form-group
          label.control-label.col-md-3 Intro message
          .col-md-9
            textarea(name="data[introMessage]" required).form-control.js-rte-textarea= profile.introMessage

        .row: .col-md-offset-3.col-md-9: p: button(name='id' value='profile').btn.btn-primary Save
